{{> head}}
{{> navbar}}

<div class= "row">

    <div class="col-8">
        <h1>Arthur Morgan</h1>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis at ratione repudiandae dolores temporibus repellat amet hic, odio beatae totam dolorum officia voluptate ipsam. Quia impedit ullam soluta laboriosam quos!
                </p>
            
    </div>

    <div class="col-4"> 
            <img src="assets/img/arthur_morgan.jpg" alt="" class="img-thumbnail">
    </div> 
    
</div>

{{> footer}}